body {
    background-color:  rgb(44, 43, 43);
    font-size: 20px;
    font-family: 'Segoe UI';
    align-content: center;
}
h1 {
    background-image: url("background/banner.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    width: 100%;
    background-size: 100% 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    color: white;
    text-align: center;
    font-size: 3em;
    border-radius: 5px;
    font-family: "Tangerine";
    margin: 0;
}
@media screen and (max-width: 600px) {
    h1{
        font-size: 3.5em;  
    }
}
footer{
    padding-top: 15px;
}
nav{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}
.topnav.sticky {
    position: sticky;
    top: 0;
    overflow: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Add a black background color to the top navigation */
    background-color: #3B5998;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    border-radius: 5px;
    top: 0;
}
/* Style the links inside the navigation bar */
.topnav li a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the color of navigation links on hover */
.topnav li a:hover:not(.active) {
    opacity: 0.7;
}
/* Responsive Navigation Bar */
@media screen and (max-width: 600px) {
    .topnav li a {
        float: none;
        display: block;
    }
}
/* Avatar Icons for Costumers' Reviews */
.avatar {
    vertical-align: middle;
    width: 35%;
    height: auto;
    border-radius: 50%;
}
.gallery{
    width: 100%;
    height: auto;
}
/* Create four equal columns that floats next to each other for Home Page */
.row1, .galleryRow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 100%;
    padding: 2px;
    text-align: center;
}
.column1, .galleryColumn {
    float: left;
    width: 25%;
    padding: 2px;
}
/* Responsive Bio Photo */
#bioPhoto.responsivePhoto{
    width: 100%;
    height: auto;
}
/* Create two equal columns that floats next to each other for About Us Page */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
/* Clear floats after the columns */
.row:after, .row1::after, .galleryRow:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes all the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, .column1, .galleryColumn {
        width: 100%;
    }
}
/* Back - to - Top Button */
.back-to-top {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #3B5998;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
}
/* Change the color of links on hover */
.back-to-top:hover {
    background-color: #555;
}
.fa {
    bottom: 10px;
    padding: 15px;
    font-size: 15px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}  
.fa:hover {
    opacity: 0.5;
}
.fa-facebook {
    background: #3B5998;
    color: white;
    left: 10px;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
    left: 60px;
}
.fa-instagram {
    background: #125688;
    color: white;
    left: 110px;
}
*{
    box-sizing: border-box;
}
/* Style inputs for Contact Us */
input[type=text], select, textarea {
    width: 65%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=date]{
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=time]{
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=email]{
    width: 65%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #3B5998;
    border-radius: 5px;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
input[type=reset] {
    background-color: #3B5998;
    border-radius: 5px;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
input[type=reset]:hover {
    opacity: 0.8;
}
input[type=submit]:hover {
    opacity: 0.8;
}
label{
    font-size: 18px;
}
textarea{
    height: 170px;
}
#contactColumn{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}
/* Style the container/contact section */
.container, .row {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}
